/*Modals*/
#cc1, #cc2, #cc3, #cc4, #cc5, #cc6 {
    border-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    cursor: pointer;
    /*width: 50%;*/
    height: 166px;
}
#cc1:hover, #cc2:hover, #cc3:hover, #cc4:hover, #cc5:hover, #cc6:hover {
    border-color: #FFD34E;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px grey;
}
.modal-header {
    background: #333;
}
.modal-title {
    color: #FFD34E;
}
.modal-body {
    border-radius: 8px;
    background: #F8F8F8;
}

/*Portfolio*/
#port01, #port02, #port03, #port04, #port05, #port06 {
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
    filter: blur(8px)
}
#port01:hover, #port02:hover, #port03:hover, #port04:hover/*, #port05:hover, #port06:hover*/ {
    cursor: pointer;
    filter: blur(0px)
    /*box-shadow: none*/
}

/*Contacts*/
.fa-linkedin {
    font-size: 2em;
}
.fa-github {
    font-size: 2em;
}

/*Other*/
.btn-submitc {
    background: #FFD34E;
    border: 0px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 40px;
    font-weight: normal;
    border-radius: 2px;
    letter-spacing: 1px;
    color: #333;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-top: 0px;
    border: 2px solid #FFD34E;
    width: 160px;
    text-align: center;
    margin-bottom: 5px;
}
.btn-submitc:hover {
    background: #fff;
}
.btn-sendc {
    border-radius: 2px;
    color: #000;
    background-color: #FFD34E;
    margin-bottom: 10px;
}
.xBtn {
    transform: scale(1.5);
}
/*@media only screen and (max-width: 991px) {
    #cc1, #cc2, #cc3, #cc4, #cc5, #cc6 {
        width: 100%;
    }
    #cc1:hover, #cc2:hover, #cc3:hover, #cc4:hover, #cc5:hover, #cc6:hover {

    }
}*/